/* Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables*/
:root {
    /* --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --accent-color: #e74c3c;
    --background-color: #ecf0f1;
    --text-color: #2c3e50;
    --heading-font-family: 'Roboto', sans-serif; */
    
    --font-family: 'Poppins', sans-serif;
    --container-color: #1a1e21;
    --second-color: #fd8f44;
    --text-color: #172317;
    --bg-color: #fff;
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;

}
::selection {
    background-color: var(--second-color);
    color: var(--bg-color);
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
img {
    width: 100%;
}
section {
    padding: 3rem 0 2rem;
}
.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}
.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--bg-color);
}
.logo span {
    color: var(--second-color);
}
.login {
    padding:8px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
    background: var(--second-color);
    color: var(--bg-color);
}
.login:hover{
    background: hsl(24, 98%, 58%);
    transition: 0.3s;
}
/* Home */
.home {
    width: 100%;
    min-height: 440px;
    background: var(--container-color);
    display: grid;
    justify-content: center;
    align-items: center;
}
.home-text {
    color: var(--bg-color);
    text-align: center;
}
.home-title {
    font-size: 3.5rem;
}
.home-subtitle {
    font-size: 1rem;
    font-weight: 400;
}
/* Post Filter */
.post-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 2rem !important;
}
.filter-item {
    padding: 12px 16px;
    border: 1px solid var(--second-color);
    border-radius: 4px;
    margin: 0 8px;
    cursor: pointer;
    transition: background 0.3s;
}
.filter-item:hover {
    background: var(--second-color);
    color: var(--bg-color);
}
.active-filter {
    background: var(--second-color);
    color: var(--bg-color);
}